/* Pallete: https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Goudy Bookletter 1911", sans-serif;
  background-color: #e9ecef;
  scroll-behavior: smooth;
}

body {
  color: #212529;
}

header {
  margin: 0 auto;
  align-self: center;
}

#nav-bar {
  position: fixed;
  top: 0;
  min-height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #ced4da;
}

#nav-bar #cart-link {
  padding: 0.5rem 1rem;
  border: 0.2rem solid #212529;
  border-radius: 0.8rem;
  transition: background-color 0.3s, border-color 0.3s;
}

#nav-bar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #212529;
  font-size: 1.8rem;
}

#nav-bar i {
  font-size: 3rem;
}

#nav-bar p {
  margin: 0;
  text-align: center;
}

#header-img {
  object-fit: contain;
  width: 6rem;
}

#logo-link {
  flex-direction: row;
  gap: 1rem;
}

#cart-link,
#features-link {
  flex-direction: column;
  justify-content: center;
}

.link-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#main-title {
  text-align: center;
  font-size: 3rem;
  margin: 100px auto 2rem auto;
  color: #495057;
}

section header {
  margin: 0 auto;
  display: flex;
  place-content: center;
  flex-direction: column;
}

#video {
  width: 50%;
  margin-left: calc(25vw - 25px);
  margin-bottom: 16px;
  border-radius: 0.8rem;
  box-shadow: 25px 16px #343a40;
}

section header a {
  color: #495057;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.4rem;
}

#features {
  padding: 1rem;
  background-color: #ececec;
  border-radius: 0.8rem;
  margin: 2rem auto;
  width: 75%;
  max-width: 80rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#features div {
  background-color: #dee2e6;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  text-align: left;
  display: flex;
  flex-direction: row;
}

#features div i {
  font-size: 6rem;
  place-content: center;
}

#features div .text-wrapper {
  flex-direction: column;
}

#features div .text-wrapper h3 {
  font-size: 2.4rem;
  color: #343a40;
}

#features div .text-wrapper h4 {
  font-size: 2rem;
  color: #495057;
}

#features div .text-wrapper p {
  font-size: 1.6rem;
  color: #6c757d;
}

.form-title {
  font-size: 2.4rem;
  text-align: center;
  margin: 10px 0 15px 0;
}

form {
  display: flex;
  justify-content: center;
}

form #email {
  width: 30%;
  min-height: 30px;
  padding: 5px 10px;
  border-top-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  border: 2px solid #212529;
  background-color: #ced4da;
}

form #email::placeholder {
  color: #212529;
}

form #submit {
  padding: 5px 10px;
  border-top-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  font-size: 2rem;
  border: 2px solid #212529;
  background-color: lightcoral;
}

.form-description {
  font-size: 1.2rem;
  text-align: center;
  margin: 5px 0 100px 0;
}

footer {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: #ced4da;
  text-align: center;
  font-size: 1.4rem;
  color: #495057;
}

footer .footer-link {
  color: #495057;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s;
}

footer .footer-link:hover {
  color: #212529;
}

@media only screen and (max-width: 600px) {
  #nav-bar {
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
  }

  #nav-bar #cart-link {
    padding: 0.25rem 0.5rem;
    border: 0.1rem solid #212529;
    border-radius: 0.6rem;
  }

  #header-img {
    object-fit: contain;
    width: 3rem;
  }

  #logo-link {
    flex-direction: row;
    gap: 0.5rem;
  }

  #nav-bar a {
    font-size: 0.9rem;
  }

  #nav-bar i {
    font-size: 1.5rem;
  }

  .link-wrapper {
    gap: 1rem;
  }

  #main-title {
    margin: 6rem auto 0 auto;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  #video {
    margin-left: calc(25vw - 12.5px);
    margin-bottom: 8px;
    box-shadow: 12.5px 8px #343a40;
  }

  #features {
    padding: 1%;
    border-radius: 0.8rem;
    margin: 2rem auto;
    max-width: 80rem;
    gap: 1rem;
  }

  #features div i {
    font-size: 4rem;
    place-content: center;
  }

  #features div .text-wrapper h3 {
    font-size: 1.6rem;
    color: #343a40;
  }

  #features div .text-wrapper h4 {
    font-size: 1.2rem;
    color: #495057;
  }

  #features div .text-wrapper p {
    font-size: 0.8rem;
    color: #6c757d;
  }

  .form-title {
    font-size: 2rem;
  }

  form #email {
    width: 30%;
    min-height: 15px;
    margin-right: 0.25rem;
    font-size: 1rem;
  }

  form #submit {
    font-size: 1rem;
  }

  .form-description {
    font-size: 0.8rem;
    margin: 5px 0 50px 0;
  }

  footer {
    font-size: 1rem;
  }
}
